# dependencies
node_modules/

# next.js build output
.next/
out/

# environment variables
.env
.env.local
.env.*.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS files
.DS_Store

# misc
*.pem

# VSCode
.vscode/

# macOS
.DS_Store

# sqlite
orig.db
orig.db-shm
orig.db-wal
